body            { font-family: sans-serif; background: #eee; margin-left:auto; margin-right:auto; }
a, h1, h3       { color: #377ba8; padding-left: 5px;}
h1              { font-family: 'Georgia', serif; text-align: center; }
table, th, td   { border: 1px solid #eee; margin-left:auto; margin-right:auto; padding: 10px;}
td              { text-align: center; }
th              { background-color: #fafafa; color: #377BA8; }
hr              { margin: 2em; }
.page           { margin: 2em auto; width: 55em; border: 5px solid #ccc; padding: 0.8em; background: white; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.section        { text-align: center; }
.nav-links      { text-align: center; margin-left:auto; margin-right:auto; }
.title          { text-align: center; margin-left:auto; margin-right:auto; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
    padding: 5px;
}