<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Create or Edit User</h1>
  <form action="" method="post" name="edit_user">
      {{ form.hidden_tag() }}
      <p>
          {{ form.user_name.label }}:<br/>
          {{ form.user_name(size=24) }}
          {% for error in form.user_name.errors %}
            <span style="color: red;">* {{ error }}</span>
          {% endfor %}<br/>
      </p>
      <p>
          {{ form.password.label }}:<br>
          {{ form.password(size=24) }}
          {% for error in form.password.errors %}
            <span style="color: red;">* {{ error }}</span>
          {% endfor %}<br/>
      </p>
      <p>
          {{ form.user_class.label }}:<br>
          {{ form.user_class }}
      </p>
      <p><input type="submit" value="Submit"></p>
  </form>
{% endblock %}