{# extends a specified base template #}
{% extends base %}

{# Build a table dynamically to display results #}
{% block data %}
    <table>
        <tr>
        {# First row contains column headers #}
        {% for header in data[0] %}
            <th>{{ header }}</th>
        {% endfor %}
        </tr>
        {# Rest of the data #}
        {% for row in data[1:] %}
        <tr>
            {% for field in row %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}