<!-- extend from base layout -->
{% extends "base.html" %}

{% from 'macros.html' import formLabelFieldErrors %}

{# Add or edit a person.
    actionName: "Add" or "Edit" depending on what is being done. #}
{% block content %}
  <h1>{{ actionName }} Person:</h1>
  <form action="" method="post" name="edit_person">
      {{ form.hidden_tag() }}
      {{ formLabelFieldErrors(form.first_name) }}
      {{ formLabelFieldErrors(form.last_name) }}
      {{ formLabelFieldErrors(form.address, fieldSize=128) }}
      {{ formLabelFieldErrors(form.email, fieldSize=128) }}
      {{ formLabelFieldErrors(form.phone, fieldSize=10) }}
      <p><input type="submit" value="Save"></p>
  </form>
{% endblock %}