<!-- extend from base layout -->
{% extends "base.html" %}
{# Add or edit a doctor patient relation.
    actionName: is the type of action you are performing
        eg. "Add" or "Edit".#}
{% block content %}
    <h1>{{ actionName }} Doctor Patient Relation:</h1>
    <form action="" method="post" name="add_edit_doctor_patient_relation">
        {{ form.hidden_tag() }}
        {{ form.doctor_id.label }} {{ form.doctor_id }}
        {{ form.patient_id.label }} {{ form.patient_id }}
        <p><input type="submit" value="Save"></p>
    </form>
{% endblock %}