<!-- extend from base layout -->
{% extends "base.html" %}

{% from 'macros.html' import formLabelFieldErrors %}

{# Add or edit a user.
    actionName: "Add" or "Edit" depending on what is being done. #}
{% block content %}
  <h1>{{ actionName }} User:
      {% if form.user_name.data %}
        {{ form.user_name.data }}
      {% endif %} </h1>
  <form action="" method="post" name="edit_user">
      {{ form.hidden_tag() }}
      {{ formLabelFieldErrors(form.user_name) }}
      {{ formLabelFieldErrors(form.password) }}
      {% if g.user.user_class == 'a' %}
          {{ form.person_id.label }}:
          {{ form.person_id }}
          <p>
              {{ form.user_class.label }}:
              {{ form.user_class }}
          </p>
      {% endif %}
      <p><input type="submit" value="Save"></p>
  </form>
{% endblock %}