<!-- extend from base layout -->
{% extends "base.html" %}

{# List all doctor patient relationships in a table with
    add, edit, and delete functionality. #}
{% block content %}
  <h1>Doctor Patient Relations</h1><br>
    <div class="nav-links">
        <a href="{{ url_for('add_edit_doctor_patient_relation') }}">Add Relation</a>
    </div>
    <hr>
    <table>
        <tr>
            <th></th>
            <th>Doctor ID</th>
            <th>Name</th>
            <th>Patient ID</th>
            <th>Name</th>
        </tr>
    {% for dprel in docPatRels %}
        <tr>
            <td><a href="{{ url_for('add_edit_doctor_patient_relation',
                                    doctorId=dprel.doctor_id,
                                    patientId=dprel.patient_id) }}">
                    Edit
                </a>
                ,
                <a href="{{ url_for('delete_doctor_patient_relation',
                                    doctorId=dprel.doctor_id,
                                    patientId=dprel.patient_id) }}">
                    Delete
                </a>
            </td>
            <td>{{ dprel.doctor_id }}</td>
            <td>{{ dprel.doctor.last_name }},  {{ dprel.doctor.first_name }}</td>
            <td>{{ dprel.patient_id }}</td>
            <td>{{ dprel.patient.last_name }}, {{ dprel.patient.first_name }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}