<!-- extend from base layout -->
{% extends "base.html" %}

{# List all users with add, edit, and delete functionality. #}
{% block content %}
  <h1>User List</h1>
  <div class="nav-links">
    <a href="{{ url_for('add_user') }}">Add User</a>
  </div>
    <hr>
    <div class="section">
    {% for user in users %}
        <p>
            Username: {{ user.user_name }}
        </p>
        <p>
            Password: {{ user.password }}
        </p>
        <p>
            Class: {{ user.user_class }}
        </p>
        <p>
            Date Registered: {{ user.date_registered }}
        </p>
        <p>
            Person ID: {{ user.person_id }}
        </p>
        <p>
            <a href="{{ url_for('edit_user', userName=user.user_name) }}">Edit</a>
            | <a href="{{ url_for('delete_user', userName=user.user_name) }}">Delete</a>
        </p>
        <hr>
    {% endfor %}
    </div>
{% endblock %}