<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Person List</h1><br>
    <a href="{{ url_for('add_person') }}">Add Person</a>
    <hr>
    {% for person in persons %}
        <b>Info</b>
        <p>
            Person ID: {{ person.person_id }}
        </p>
        <p>
            First Name: {{ person.first_name }}
        </p>
        <p>
            Last Name: {{ person.last_name }}
        </p>
        <p>
            Address: {{ person.address }}
        </p>
        <p>
            Email: {{ person.email }}
        </p>
        <p>
            Phone: {{ person.phone }}
        </p>
            <a href="{{ url_for('edit_person', personId=person.person_id) }}">Edit</a>
        <p>
            Users:
            {% for user in person.users %}
                <a href="{{ url_for('edit_user', userName=user.user_name) }}">
                    {{ user.user_name }}</a>
            {% endfor %}
            | <a href="{{ url_for('add_user', personId=person.person_id) }}">+</a>
        </p>
        <p>
            Doctors (IDs):
            {% for doctor in person.doctor_doctors %}
                {{ doctor.doctor_id }},
            {% endfor %}<br>
            | <a href="{{ url_for('list_doctor_patients') }}">Edit</a>
        </p>
        <p>
            <a href="{{ url_for('delete_person', personId=person.person_id) }}">Delete</a>
        </p>
        <hr>
    {% endfor %}
{% endblock %}