<!-- extend from base layout -->
{% extends "base.html" %}

{% from 'macros.html' import listPersonFields %}

{# List persons with details. Add, edit, and delete functionality. #}
{% block content %}
  <h1>Person List</h1>
    <div class="nav-links">
        <a href="{{ url_for('add_person') }}">Add Person</a>
    </div>
        <hr>
    <div class="section">
    {% for person in persons %}
        <p>
            <b>Info</b>
        </p>
            {{ listPersonFields(person) }}
        <p>
            <a href="{{ url_for('person_detail', personId=person.person_id) }}">Details</a>
        </p>
        <p>
            <a href="{{ url_for('delete_person', personId=person.person_id) }}">Delete</a>
        </p>
        <hr>
    {% endfor %}
    </div>
{% endblock %}