{# Displays a form field with input box and performs error checking. #}
{% macro formLabelFieldErrors(formField, fieldSize=24) %}
      <p>
          {{ formField.label }}:<br/>
          {{ formField(size=fieldSize) }}
          {% for error in formField.errors %}
            <span style="color: red;">* {{ error }}</span>
          {% endfor %}<br/>
      </p>
{% endmacro %}

{# Displays a form field with input box and performs error checking. #}
{% macro formTextAreaLabelFieldErrors(formField, rows="10", cols="50") %}
      <p>
          {{ formField.label }}:<br/>
          {{ formField(rows=rows, cols=cols) }}
          {% for error in formField.errors %}
            <span style="color: red;">* {{ error }}</span>
          {% endfor %}<br/>
      </p>
{% endmacro %}


{# List all fields in a person. #}
{% macro listPersonFields(person) %}
    <p>
        Person ID: {{ person.person_id }}
    </p>
    <p>
        First Name: {{ person.first_name }}
    </p>
    <p>
        Last Name: {{ person.last_name }}
    </p>
    <p>
        Address: {{ person.address }}
    </p>
    <p>
        Email: {{ person.email }}
    </p>
    <p>
        Phone: {{ person.phone }}
    </p>
    <a href="{{ url_for('edit_person', personId=person.person_id) }}">Edit</a>

{% endmacro %}