<!-- extend from base layout -->
{% extends "base.html" %}

{% from 'macros.html' import listPersonFields %}

{# Show details for a person.
    Also lists all users attached to that person
    and allows one to edit or add users.
    Allows deletion of the person if current user is admin. #}
{% block content %}
  <h1>Person Details</h1>
    <hr>
    <div class="section">
        {{ listPersonFields(person) }}
    {% if g.user.user_class == 'a' %}
        <hr>
        <p>
            Users:
            {% for user in person.users %}
                <a href="{{ url_for('edit_user', userName=user.user_name) }}">
                    {{ user.user_name }}</a>
            {% endfor %}
            | <a href="{{ url_for('add_user', personId=person.person_id) }}">+</a>
        </p>
        <p>
            Doctors (IDs): {{ doctorList }}
        </p>
        <p>
            Patients (IDs): {{ patientList }}
        </p>
        <hr>
        <p>
            <a href="{{ url_for('delete_person', personId=person.person_id) }}">Delete this Person</a>
        </p>
    {% endif %}
    </div>
{% endblock %}